.button {
	color: #ffffff;
	font-size: 14px;
	font-weight: 300;
	background: #008cf0;
	border: none;
	border-radius: 40px;
	transition: background-color 0.3s;
	padding: 10px 34px;

	&:hover {
		cursor: pointer;
		background: #34AAFF;
	}

	&--big {
		font-size: 16px;
		padding: 14px 34px;
	}
}