.sidebar {
	width: 95px;
	height: 100%;
	flex-shrink: 0;
	color: #fff;
	background-color: #002137;

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16px;
	}

	&__item {

	}

	&__link {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		height: 70px;
		color: #fff;
		font-size: 12px;
		line-height: 9px;
		font-weight: 300;
		text-decoration: none;
		padding: 15px 2px 14px;
		transition: all 0.3s;

		&:hover,
		&--active {
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
			background-color: #002c49;
		}

		p {
			text-align: center;
		}
	}
}